name: Docker Publish

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Check out code
        uses: actions/checkout@v1

      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - 
        name: Run tests
        run: docker run -v /:/src/PlaywrightSharp/TestResults vbsorin/playwrightdemogh
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: vbsorin/playwrightdemogh:latest

